!!!
%html
  %head
    %title="Pablo Merino"
    %link{:href => '/main.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #main-frame-error
      #box
        #content-top
          %h1
            %span Pablo Merino
          %a#reload-button{:href=>"https://twitter.com/_pmerino", :target=>"_blank"} Twitter
          %a#reload-button{:href=>"mailto:pablo@wearemocha.com"} E-mail
          %a#reload-button{:href=>"https://github.com/Pablo-Merino", :target=>"_blank"} GitHub
          %a#reload-button{:href=>"http://pablo.roon.io/", :target=>"_blank"} Blog
        #help-box-outer
          #help-box-inner
            %div
              %span
                = yield
              .error-code="Error code: #{@random_error_code}" 
              .error-code="Requested from: #{@ip[0].country}. Answered from: #{@public_ip[0].country}" 
/
  #{@remote_ip}-#{request.ip}-#{@env['HTTP_CF_CONNECTING_IP']}